<!doctype html>
<html ng-app="app" ng-csp>
  <head>
    <title>Sarah's Chrome Extension</title>

    <!--style-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bevan|Inconsolata' rel='stylesheet' type='text/css'>    <link rel="stylesheet" href="style/style.css">

    <!--angular-->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/popup.js"></script>
    <script src="js/GridFactory.js"></script>

  </head>
  <body id="popup" ng-app="app">
  <div class="container">
  <div ng-controller="MainCtrl">
    <div class="row">
      <h4 id="title"> <i class="glyphicon glyphicon-th"></i>{{ title }}</h4> You are griddling {{ tab.title}}.
    </div>
    <div class="row">
      <div ng-if="showHTML"> Currently selected element: <code id="currently-selected" class="scroll-box">{{ selectedHTML }}</code></div>
    </div>
  </div>

     <!--Canvas and Grid Input Form-->
    <div ng-controller="GridCtrl">
      <div class="row">
          <div class="col-xs-6">
            <div>
              <canvas id="display" width="{{ dim.width }}" height="{{ dim.height }}"></canvas>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="scroll-box" id="legend">
              <ul>
                <li ng-repeat="item in legend" style="list-style-type: none">
                  <span class="glyphicon glyphicon-triangle-left" style="color:{{ item.color }}"></span>
                  {{ item.html | limitTo:35 }}{{ item.html.length > 35 ? '...' : '' }}
                </li>
              </ul>
            </div>
          </div>
      </div>
      <div class="row text-center">
        <div class="form-inline" name="gridForm">
          <div>
          <div class="col-xs-3">
            <label for="rows">Rows:</label>
            <select class="form-control" name="rows" ng-model="newGrid.rows"
                    ng-options="num for num in maxRC" required>
            </select>
          </div>
          <div class="col-xs-3">
            <label for="cols">Columns:</label>
            <select class="form-control" name="cols" ng-model="newGrid.cols"
                    ng-options="num for num in maxRC" required>
            </select>
          </div>
          </div>
          <div class="col-xs-3 push-down">
            <button type="submit" class="btn btn-success" ng-click="freshGrid(newGrid.rows, newGrid.cols)">
              <i class="glyphicon glyphicon-th-large"></i>
                Make Grid
            </button>
          </div>
          <div class="col-xs-3 push-down">
            <button type="submit" class="btn btn-warning" ng-click="generateHTML()">
              <i class="glyphicon glyphicon-th-large"></i>
              Generate HTML
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div><code id="genHTML" class="scroll-box">{{ generatedHTML }}</code></div>
      </div>
    </div>

    </div>
  </div>
  </body>
</html>

