<!doctype html>
<html ng-app="app" ng-csp>
  <head>
    <title>Sarah's Chrome Extension</title>

    <!--style-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="style/style.css">

    <!--angular-->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/popup.js"></script>

  </head>
  <body id="popup">
  <div ng-controller="MainCtrl">
    <h5> {{ title }}</h5>
    <p> Current tab title: {{ title}} </p>
    <p> Current tab url: {{ url}} </p>
    <p> PageInfors: {{ pageInfos }} </p>
    <div id="status"></div>
    <canvas id="display" ng-model="myCanvas" width="300" height="187.5"></canvas>
    <div>
      <md-slider ng-model="columns" min="1" max="12">
      </md-slider>
      <button type="button">Submit</button>
    </div>
    </div>
  </body>
</html>

